@import 'mixin/particals/colors-page';
@import 'mixin/particals/font_page';
@import 'mixin/mixin';
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  
}

/*---------for-different-background-color---------*/
.different-bg{
    padding-top: 20px !important;
    background: $color-different-bg;
}

/*----------------Navigation-start----------------*/
.cs_right_menu {
    float: left;
    width: 50px;
    height: 100vh;
    background-color: $color-nav-bg;
    position: fixed;
    z-index: 999;
     ul {
        padding: 0px;
        margin: 0px;
        margin-top: 30px;
        li {
			padding: 0px;
			margin: 0px;
			list-style: none;
			float: left;
            width: 60px;
            font-size: 12px;
            height: 100px;
             a {
                color: $color-white;
                transform: rotate(-90deg);
                float: left;
                margin-top: 37px;
                text-align: center;
                text-decoration: none;
                &:active{
                    color: $color-nav-active;
                }
            }
		}
    }
}
/*-----------------Navigation-end-----------------*/

/*---------------owl carousel-start---------------*/
.my-owl-carousel{
    .my-img{
        position: relative !important;
        img{
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .overlay{
            background-color: $color-black;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            position: absolute;
        }
        .contect-slider{
            position: absolute;
            top: 250px;
            text-align: center;
            h2{
                span{
                    @include slider-center-word;
                }
            }
            .line{
                @include slider-center-line;
            }
            a{
                @include slider-center-btn;
                &:hover{
                    background: transparent;
                    border-color: $color-hover-slider-a;
                    color: $color-hover-slider-a;
                    transition: all .3s ease-in;
                    font-size: 13px;
                }
            }
        }
    }
    .owl-nav{
        display: none !important;
    }
    .owl-dot{
        display: none !important;
    }
}
/*-----------------owl carousel-end---------------*/

/*--------------Service-part-start----------------*/
.service_price{
    @include  bg-img;
    .prices{
        padding-top: 50px;
        padding-bottom: 50px;
        .service-info{
            .one{
               img{
                    @include icons;
               }
            }
            .two{
                h3{
                    span{
                        @include service-h3;
                        &:hover{
                            color: $color-hover-service-h3;
                            transition: all .3s ease-in;
                        }
                    }
                }
            }
            .three{
                p{
                    span{
                        @include service-p;
                    }
                }
            }
        }
        .different-effect{
            box-shadow: 2px -2px 33px -8px $color-white;
            padding-top: 20px !important;
            z-index: 1;
        }
    }
   
}
/*---------------Service-part-end-----------------*/

/*---------------Courses-part-start---------------*/
.courses-price{
    @include bg-img;
    .left{
        padding: 50px;
        .first-part{
            margin-bottom: 100px;
            p{
                b{
                    @include courses-p-b;
                    text-shadow: 0px 4px 4px $color-text-shadow;
                }
                span{
                    @include courses-p-span;
                }
            }
            ul{
                padding: 0;
                li{
                   @include courses-li;
                }
            }
        }
        .second-part{
            p{
                b{
                    @include courses-p-b;
                }
                span{
                    @include courses-p-span;
                }
            }
            ul{
                padding: 0;
                li{
                   @include courses-li;
                }
            }
        }
    }
    .center{
        padding: 150px 50px 50px 50px;
        .center-info{
            p{
                b{
                    @include courses-p-b;
                }
                span{
                    @include courses-p-span;
                }
            }
            ul{
                padding: 0;
                li{
                    @include courses-li;
                }
            }
        }
    }
    .right{
        padding: 50px;
        .right-info{
            p{
                b{
                    @include courses-p-b;
                }
                span{
                    @include courses-p-span;
                }
            }
            ul{
                padding: 0;
                li{
                    @include courses-li;
                }
            }
        }
    }
}
/*----------------Courses-part-end----------------*/

/*----------------Project-part-start--------------*/
.project_price{
    @include  bg-img;
    .project-info{
        padding-top: 50px;
        .change{
            margin-top: 40px;
        }
        .two{
            h3{
                span{
                    @include project-h3;
                    &:hover{
                        color: $color-hover-service-h3;
                        transition: all .3s ease-in;
                    }
                }
            }
        }
        .three{
            padding-top: 20px;
            p{
                span{
                    @include project-p;
                }
            }
        }
    }
}
/*-----------------Project-part-end---------------*/

/*-----------------Location-start-----------------*/
.location-price{
    @include bg-img;
    .location-info{
        div{
            h2{
                padding-top: 200px;
                span{
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 45px;
                    line-height: 59px;
                    color: $color-white;
                }
            }
        }
        div{
            iframe{
                padding: 50px 0 50px 50px;
            }
        }
    }
}
/*-------------------Location-end-----------------*/

/*------------------Contact-us-start--------------*/
.contact-us-price{
    @include bg-img;
    .left-part{
        background: $color-contact-us-left-bg;
        padding: 100px 0 100px 150px;
        .header-word{
            margin-bottom: 100px;
            h3{
                span{
                    font-family:$font-family;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 59px;
                    color: $color-white;
                }
            }
            p{
                span{
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 29px;
                    color: $color-white;
                }
            }
        }
        .icon{
            @include contact-us-icon;
        }
        .info{
            padding: 0;
            p{
                span{
                    @include contact-us-p;
                }
            }
        }
    }
    .right-part{
        padding: 70px;
        .Contactform {
            .form-group{
                label {
                    display: none;
                }
                .form-control {
                    outline: 0 none;
                    font-family: $font-family;
                    background-color: transparent !important;
                    border: 0;
                    border-radius: 0;
                    border-color: $color-white;
                    border-style: solid;
                    border-bottom-width: 2px;
                    font-weight: 400;
                    font-style: normal;
                    box-shadow: none !important;
                    padding-left: 0;
                    padding-right: 0;
                    padding-top: 11px;
                    padding-bottom: 11px;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0;
                    text-transform: none;
                    margin-top: 30px;
                    &:focus::placeholder {
                        color: transparent;
                        border-color: transparent;
                    }
                }
            }
            .buttonsend{
                a{
                    button{
                        color: $color-white;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 500;
                        font-family: $font-family;
                        box-shadow: none;
                        background-color: $color-contact-us-btn;
                        height: 50px;
                        width: 100%;
                        margin: 30px 0px 40px 0px;
                        margin-left: 0 !important;
                        &:hover {
                            background-color: transparent;
                            border-color: $color-contact-us-btn;
                            color: $color-contact-us-btn;
                            transition: all .3s ease-in;
                            text-transform: uppercase;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}
/*-------------------Contact-us-end---------------*/

/*-----------------Responsive-style-start-----------------------*/
@media only screen and (max-width:568px){
    .my-owl-carousel{
        .my-img{
            .contect-slider{
                top: 50px;
                h2{
                    span{
                        font-size: 20px ;
                    }
                }
                .line{
                    width: 184px;
                }
                a{
                    width: 130px;
                    line-height: 23px;
                }
            }
        }
    }
    .courses-price{
        .left{
            text-align: center;
            .first-part{
                ul{
                    li{
                        font-size: 13px;
                    }
                }
            }
            .second-part{
                ul{
                    li{
                        font-size: 13px;
                    }
                }
            }
        }
        .center{
            text-align: center;
            padding-top: 50px;
            .center-info{
                ul{
                    li{
                        font-size: 13px;
                    }
                }
            }
        }
        .right{
            text-align: center;
            .right-info{
                ul{
                    li{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .project_price{
        .project-info{
            .three{
                padding: 10px 40px 40px 40px;
                p{
                    span{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .location-price{
        .location-info{
            text-align: center;
            div{
                h2{
                    padding-top: 50px;
                    span{
                        font-size: 28px;
                    }
                }
            }
        }
    }
    .contact-us-price{
        .left-part{
            padding: 100px 0 100px 100px;
            .header-word{
                margin-bottom: 40px;
                h3{
                    span{
                       font-size: 34px;;
                    }
                }
                p{
                    span{
                        font-size: 20px;
                    }
                }
            }
            .info{
                p{
                    span{
                        font-size: 13px;
                    }
                }
            }
           
        }
        .right-part{
            padding: 50px 100px;
        }
    }

}
@media only screen and (min-width:568px) and (max-width:768px){
    .my-owl-carousel{
        .my-img{
            .contect-slider{
                top: 50px;
                h2{
                    span{
                        font-size: 22px ;
                    }
                }
                .line{
                    width: 184px;
                }
                a{
                    width: 130px;
                    line-height: 23px;
                }
            }
        }
    }
    .courses-price{
        .left{
            text-align: center;
            .first-part{
                ul{
                    li{
                        font-size: 14px;
                    }
                }
            }
            .second-part{
                ul{
                    li{
                        font-size: 14px;
                    }
                }
            }
        }
        .center{
            text-align: center;
            padding-top: 50px;
            .center-info{
                ul{
                    li{
                        font-size: 14px;
                    }
                }
            }
        }
        .right{
            text-align: center;
            .right-info{
                ul{
                    li{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .project_price{
        .project-info{
            .three{
                padding: 10px 40px 40px 40px;
                p{
                    span{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .location-price{
        .location-info{
            text-align: center;
            div{
                h2{
                    padding-top: 50px;
                    span{
                        font-size: 30px;
                    }
                }
            }
        }
    }
    .contact-us-price{
        .left-part{
            padding: 100px 0 100px 100px;
            .header-word{
                margin-bottom: 40px;
                h3{
                    span{
                       font-size: 35px;;
                    }
                }
                p{
                    span{
                        font-size: 22px;
                    }
                }
            }
            .info{
                p{
                    span{
                        font-size: 14px;
                    }
                }
            }
           
        }
        .right-part{
            padding: 50px 100px;
        }
    }

}
@media only screen and (min-width:679px) and (max-width:992px){
    .my-owl-carousel{
        .my-img{
            .contect-slider{
                top: 120px;
                h2{
                    span{
                        font-size: 28px ;
                    }
                }
                .line{
                    width: 200px;
                }
                a{
                    width: 150px;
                    line-height: 27px;
                }
            }
        }
    }
    .courses-price{
        .left{
            text-align: left;
            .first-part{
                ul{
                    li{
                        font-size: 14px;
                    }
                }
            }
            .second-part{
                ul{
                    li{
                        font-size: 14px;
                    }
                }
            }
        }
        .center{
            text-align: left;
            padding-top: 130px;
            .center-info{
                ul{
                    li{
                        font-size: 14px;
                    }
                }
            }
        }
        .right{
            text-align: left;
            .right-info{
                ul{
                    li{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .project_price{
        .project-info{
            .three{
                padding: 10px 40px 40px 40px;
                p{
                    span{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .location-price{
        .location-info{
            text-align: center;
            div{
                h2{
                    padding-top: 200px;
                    padding-left: 30px;
                    span{
                        font-size: 32px;
                    }
                }
            }
        }
    }
    .contact-us-price{
        .left-part{
            padding: 100px 0 100px 100px;
            .header-word{
                margin-bottom: 40px;
                h3{
                    span{
                       font-size: 35px;;
                    }
                }
                p{
                    span{
                        font-size: 22px;
                    }
                }
            }
            .info{
                p{
                    span{
                        font-size: 14px;
                    }
                }
            }
           
        }
        .right-part{
            padding: 50px 100px;
        }
    }
}
@media only screen and (min-width:993px) and (max-width:1024px){
    .location-price{
        .location-info{
            text-align: center;
            padding: 0;
            div{
                h2{
                    
                    padding-left: 40px;
                    span{
                        font-size: 36px;
                    }
                }
            }
        }
    }
    .contact-us-price{
        .left-part{
            padding: 100px 0 100px 90px;
        }
    }
   
}
/*-------------------Responsive-style-end-----------------------*/
