$color-white:#fff;
$color-black:#000;
$color-nav-bg:#0E0E0E;
$color-nav-active:#3D9BCC;
$color-hover-slider-a:rgb(25, 140, 248);
$color-hover-service-h3:rgb(25, 140, 248);
$color-contact-us-icon:rgb(25, 140, 248);
$color-contact-us-btn:rgb(25, 140, 248);
$color-different-bg:#333333;
$color-contact-us-left-bg:#333333;
$color-text-shadow:rgba(0, 0, 0, 0.25)

